app = 'waw-trams'
primary_region = 'ams'
kill_signal = 'SIGTERM'

[build]

[deploy]
  release_command = '/app/bin/migrate'

[processes]
  app = '/app/bin/waw_trams start'

[env]
  PHX_HOST = 'waw-trams.fly.dev'
  PHX_SERVER = 'true'
  PORT = '8080'
  POOL_SIZE = '5'
  # Enable IPv6 for internal Fly networking
  ECTO_IPV6 = 'true'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 1000
    soft_limit = 1000

  [[http_service.checks]]
    interval = '10s'
    timeout = '2s'
    grace_period = '30s'
    method = 'GET'
    path = '/health'

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
