# fly.toml app configuration file generated for waw-trams on 2025-12-20T20:57:41+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'waw-trams'
primary_region = 'ams'
kill_signal = 'SIGTERM'

[build]

[deploy]
  strategy = 'rolling'
  release_command = '/app/bin/migrate'

[env]
  PHX_HOST = 'waw-trams.fly.dev'
  POOL_SIZE = '5'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'suspend'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 1000
    soft_limit = 1000

  [[http_service.checks]]
    interval = '10s'
    timeout = '2s'
    grace_period = '30s'
    method = 'GET'
    path = '/'

[[vm]]
  memory = '256mb'
  cpus = 1
  memory_mb = 256
